* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

section {
	text-align: center;
}

#menu span {
	display: block;
}

#menu .content{
	max-width: 300px;
	margin: 0 auto;
}

#menu .content input[type="radio"] {
	margin-left: 10px;
}

#puzzle {
    border: 1px solid #000;
    margin-left: 10px;
}

#puzzle, .previewimage {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#loadpic {
	text-transform: uppercase;
	margin-left: -5px;
	padding: 0 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid #ADADAD;
}

.input-source-url {
	outline: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: 1px solid #C1C1C1;
}

.start_button,
input[type="text"],
input[type="file"] {
    margin-bottom: 10px;
}

.start_button {
	display: block;
	margin: 10px auto 10px auto;
}

.file-upload {
	position: fixed;
	top: -1000px;
	display: none;
}

.load-file-label {
	display: block;
	width: 50%;
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid #4A7DBD;
	border-bottom: 4px solid #4A7DBD;
	background: #B7DCED;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0 auto;
	margin-bottom: 10px;
}

.previewimage {
	display: block;
    max-width: 100%;
    width: 300px;
    height: 300px;
    margin: 10px auto;
    border: 5px solid #0F6FC5;
}

.collection {
	width: 60%;
	height: 75px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 0 auto 10px auto;
	overflow-x: none;
	overflow-y: auto;
}

.collection .prevPic,
.collection .nextPic {
	height: 100%;
	width: 25px;
	border: 1px solid #FF0D0D;
}

.collection .prevPic {
	float: left;
}

.collection .nextPic {
	float: right;
}

@media screen and (max-width: 500px) {
    .previewimage {
        max-width: 100%;
        width: 50%;
        height: auto;
        margin-top: 5px;
        margin-left: auto;
    }

    .collection {
    	width: 100%;
    	height: 50px;
    }
}
